html {
	padding: 0;
	margin: 0;
	background-position: top left;
	background-repeat: no-repeat;
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
}

form {
	padding: 0;
	margin: 0;
}

hr {
	display: none;
}

table {
	padding: 0px;
	border-collapse: collapse;
}

#top {
	margin: 0 0 15pt 5pt;
	border: 0;
	width: 1022px;
}

#menu {
	border: 0;
	margin: 0 0 0 5pt;
	background-color: white;
	float: left;
	width: 150px;
}

#menu .pageNav {
	font-size: 18px;
}

#menu .pageNav ul {
	float: left;
	margin: 0;
	padding: 0 0 0 5pt;
	list-style: none;
}

#menu .pageNav ul li a {
	font-size: 16px;
	text-decoration: none;
}

#menu .pageNav ul li a:HOVER {
	background: gray;
	color: white;
}

#content {
	border: 0;
	padding: 5pt 0 0 15pt;
	float: left;
	width: 900px;
}

.rf-dt {
	width: 50%;
}

.rf-ind-drag {
	font-size: 11px;
	cursor: pointer;
	width: 100px;
	min-height: 80px;
	border: 1px dotted gray;
	padding: 2px;
	background-color: yellow;	
}

td.valign{
	width: 33%;
	vertical-align: top;
}

td.valign div.rf-p{
	min-height: 400px;	
}

td.valignNoMinHeight{
	width: 33%;
	vertical-align: top;
	padding: 0 20px 0 0;
}

table.note {
	width: 200px;	
}

.note td.header {
	font-weight: bold;
}
td.topAlign {
	font-weight: bold;
	vertical-align: top;	
}
